/* -----------------LOGIN PAGE CSS------------------------------- */

footer {
  position: relitive; /*absolute */
  bottom: 0;
  width: 100%; /* Height of the footer */
}
.index_nav {
  position: fixed;
  top: 0;
  width: 100%;
}
.login-body {
  font-family: Calibri, Helvetica, sans-serif;
  background-color: rgba(255, 68, 0, 0.322);
}
/* .img {
  width: 1000px;
  height: 500px;
  right: 0;
  top: 0;
} */
/* ---------------------------------------------------------------- */
.calendar-container {
  width: 70%;

  margin: 0 auto;
  margin-top: 70px;
}
